@using CryptoSiteAsp.Entities

@model CryptoCurrencyCoin

@{
    ViewData["Title"] = Model.Symbol;
}

<h1>@Model.Name</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Symbol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceUsd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceUsd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChangePercent24Hr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChangePercent24Hr)%
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MarketCapUsd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MarketCapUsd)
        </dd>
    </dl>
</div>

<div>
    <a class="nav-link" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>