@using CryptoSiteAsp.Entities

@model CryptoCurrencyCoin

@{
    ViewData["Title"] = Model.Symbol;
    var imgLink = $"https://assets.coincap.io/assets/icons/{Model.Symbol.ToLower()}@2x.png";
}

<div id="bg1" class="col-sm-6 background-1 rounded-corners">
    <img class="rounded-corners" src="@imgLink">
</div>

<hr />

<div class="d-flex flex-lg-wrap">

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Add to favourite
            </dt>
            <dd class="col-sm-10">
                <partial name="_AddCoinToFavouriteCheckboxPartial" model="Model" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Symbol)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Symbol)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PriceUsd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PriceUsd)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ChangePercent24Hr)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ChangePercent24Hr)%
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Supply)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Supply)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MarketCapUsd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MarketCapUsd)
            </dd>
        </dl>
    </div>

    <hr />

    <div name="@Model.Symbol" id="cryptoCurrencyCandles" class="col-sm-5 mt-5">
    </div>

</div>
<div>
    <a class="nav-link" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>