@using CryptoSiteAsp.Entities
@inject UserManager<ApplicationUser> UserManager

@model UserCryptoTableViewModel

<table class="table table-hover">
	<thead>
		<tr>
			<th class="text-center">Name</th>
			<th class="text-center">Price</th>
			<th class="text-center">Volume per 24h</th>
			<th class="text-center">Price change</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model.CryptoCurrencyCoins != null)
		{
			@foreach (var Coin in Model.CryptoCurrencyCoins)
			{
				<tr>
					<td>
						<a class="nav-link" asp-controller="CryptoCurrencyCoin" asp-action="Index" asp-route-coinSymbol="@Coin?.Symbol">@Coin.Name</a>
					</td>
					<td class="text-center">
						$ @Coin?.PriceUsd.Value.ToString("0.000")
					</td>
					<td class="text-center">
						$ @Coin?.VolumeUsd24Hr.Value.ToString("0.000")
					</td>
					@if (Coin.ChangePercent24Hr > 0)
					{
						<td class="text-success text-center">
							<i class="fas fa-caret-up me-1"></i>@Coin.ChangePercent24Hr.Value.ToString("0.000")%
						</td>
					}
					else
					{
						<td class="text-danger text-center">
							<i class="fas fa-caret-down me-1"></i>@Coin.ChangePercent24Hr.Value.ToString("0.000")%
						</td>
					}
					<td>
						<div class="form-check">
							@if (Model.CryptoCurrencyCoins != null && Model.UserCryptoCurrencies.Any(e => e.CryptoCurrencyName == Coin.Name))
							{
								<input class="form-check-input customChechbox" type="checkbox" checked name="userCoinCheckbox" id="@Coin.Name" value="@UserManager.GetUserId(User)" />
							}
							else
							{
								<input class="form-check-input customChechbox" type="checkbox" name="userCoinCheckbox" id="@Coin.Name" value="@UserManager.GetUserId(User)" />
							}
							<label class="checkboxLabel" for="@Coin.Name">&#9829</label>
						</div>
					</td>
				</tr>
			}
		}
	</tbody>
</table>