@using CryptoSiteAsp.Entities

@model CryptoCurrencyCoin

<tr>
	<td>
		@Model.Name
	</td>
	<td>
		@Model.PriceUsd.Value.ToString("0.000") $
	</td>
	<td>
		@Model.VolumeUsd24Hr.Value.ToString("0.000") $
	</td>
	@if (Model.ChangePercent24Hr > 0)
	{
		<td class="text-success">
			@Model.ChangePercent24Hr.Value.ToString("0.000")%
		</td>
	}
	else
	{
		<td class="text-danger">
			@Model.ChangePercent24Hr.Value.ToString("0.000")%
		</td>
	}
	<td>
		<a href="#">Add to Favourite</a>
	</td>
</tr>
